// глобальные стили
@import "global/_variables";
@import "global/_mixins";
@import "global/_normalize";
@import "global/_fonts";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";

// блочные стили
@import "blocks/_header";
@import "blocks/_btn";
@import "blocks/_hero";
@import "blocks/_hero-slider";
@import "blocks/_facts";
@import "blocks/_table-section";
@import "blocks/_table";
@import "blocks/_registration";
@import "blocks/_games";
@import "blocks/_sports-betting";
@import "blocks/_gamification";

@import "blocks/_card";

@import "blocks/_about";
@import "blocks/_faq";
@import "blocks/_cta";
@import "blocks/_footer";
@import "blocks/_payment";
@import "blocks/_reviews";
@import "blocks/_safely";
@import "blocks/_mobile-casino";
@import "blocks/_responsible-gaming";
@import "blocks/_play-cta-section";
