// глобальные стили
@import "global/variables";
@import "global/mixins";
@import "global/normalize";
@import "global/fonts";
@import "global/reboot";
@import "global/container";
@import "global/visually-hidden";

// блочные стили
