@import "variables";
@import "mixins";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: #070b18;
    color: #e5e7eb;
    color: $text-light;
    line-height: 1.6;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}
