.about {
    padding: 90px 0;

    @include vp-767 {
        padding: 50px 0;
    }

    &__content {
        max-width: 780px;

        p {
            color: $color-rock-blue;
            margin-bottom: 16px;
        }
    }
}
