.about {
    padding: 90px 0;

    @include vp-1023 {
        padding: 50px;
    }

    @include vp-767 {
        padding: 30px 0;
    }

    &__content {
        max-width: 780px;

        p {
            color: $color-rock-blue;
            margin: 0 0 16px 0;
        }
    }
}
