.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 34px;
    border-radius: 999px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.25s;

    &--primary {
        background: linear-gradient(135deg, $color-malachite, $color-emerald);
        color: $color-dark-green;
        box-shadow: 0 20px 40px $color-malachite-45;

        &:hover {
            transform: translateY(-3px) scale(1.03);
            color: $color-tomato;
        }

        @media (max-width: 540px) {
            padding: 10px 20px;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
          }
    }

    &--secondary {
        background: $color-black-russian;
        border: 1px solid $color-midnight;
        &:hover {
            border-color: $color-malachite;
            color: $color-tomato;
        }
    }

    
}
