.cta {
    padding: 90px 0;

    @include vp-1023 {
        padding: 50px 0;
    }

    @include vp-767 {
        padding: 30px 0;
    }

    &__content {
        background-image: url("../images/bg/bg-cta.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 32px;
        padding: 80px 30px;
        text-align: center;
        color: $color-sazerac;
        text-shadow:
            -1px -1px 0 $color-black,
            1px -1px 0 $color-black,
            -1px 1px 0 $color-black,
            1px 1px 0 $color-black;
    }
}
