.cta {
    padding: 90px 0;

    @include vp-1023 {
        padding: 50px;
    }

    @include vp-767 {
        padding: 30px 0;
    }

    &__content {
        background: linear-gradient(135deg, $color-malachite, $color-emerald);
        border-radius: 32px;
        padding: 80px 30px;
        text-align: center;
        color: $color-dark-green;
    }
}
