.faq {
    padding: 90px 0;

    @include vp-1023 {
        padding: 50px;
    }

    @include vp-767 {
        padding: 30px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    &__item {
        border-bottom: 1px solid $color-midnight;

        &.is-open {
            .faq__answer {
                display: block;
            }

            .faq__icon {
                transform: rotate(90deg);
            }
        }
    }

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        font-weight: 800;
        cursor: pointer;
    }

    &__icon {
        display: inline-block;
        transition: transform 0.3s ease;
        font-size: 18px;
        transform: rotate(-90deg);
    }

    &__answer {
        display: none;
        font-size: 14px;
        color: $color-rock-blue;
        padding: 0 0 18px 0;
    }
}
