.footer {
    border-top: 1px solid $color-midnight;
    padding: 40px 0 30px;
    font-size: 13px;
    color: $color-slate;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 0 24px 0;

        @include vp-767 {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin: 0 0 24px 0;
        }
    }

    &__logo {
        @include vp-767 {
            display: flex;
            align-items: center;
        }

        svg {
            width: 100px;

            @include vp-767 {
                width: 80px;
            }
        }
    }

    &__pay {
        display: flex;
        gap: 16px;

        @include vp-767 {
            justify-content: center;
        }
    }


    &__disclaimer {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;

        @include vp-767 {
            text-align: center;
        }
    }

    &__disclaimer-text {
        margin: 0 0 10px 0;
        font-size: 12px;
    }


}
