.games {
    padding: 90px 0;

    @include vp-1023 {
        padding: 60px 0;
    }

    @include vp-767 {
        padding: 40px 0;
    }

    &__title {
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        margin: 0 0 24px 0;
        color: $color-white;

        @include vp-767 {
            font-size: 28px;
            margin: 0 0 20px 0;
        }
    }

    &__title span {
        color: $color-tomato;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 16px 0;
        color: $color-white;
        text-align: center;

        @include vp-767 {
            font-size: 20px;
            margin: 28px 0 14px 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        color: $color-rock-blue;
        margin: 0 0 30px 0;
        text-align: justify;
        

        @include vp-767 {
            font-size: 14px;
            line-height: 1.5;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list {
        margin: 0 0 20px 0;
        padding-left: 20px;

        @include vp-767 {
            padding-left: 16px;
        }
    }

    &__list-item {
        font-size: 16px;
        line-height: 1.6;
        color: $color-rock-blue;
        margin: 0 0 16px 0;
        position: relative;

        @include vp-767 {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 14px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .text-highlight {
            color: $color-white;
            font-weight: 600;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 24px;
        margin: 0 0 30px 0;

        @include vp-1023 {
            grid-template-columns: repeat(2, 1fr);
        }

        @include vp-767 {
            grid-template-columns: 1fr;
            gap: 16px;
            margin: 30px 0 0 0;
        }
    }
}