.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background: rgba(7, 11, 24, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $color-midnight;

    &__inner {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-img {
       @include vp-480 {
           width: 120px;
       }
    }

    


}
