.payment {
    padding: 90px 0;

    @include vp-1023 {
        padding: 60px 0;
    }

    @include vp-767 {
        padding: 40px 0;
    }

    &__title {
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        margin: 0 0 24px 0;
        color: $color-white;

        @include vp-767 {
            font-size: 28px;
            margin: 0 0 20px 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        color: $color-rock-blue;
        margin: 0 0 20px 0;
        text-align: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        @include vp-767 {
            font-size: 14px;
            line-height: 1.5;
        }
    }

    &__text-italic {
        font-style: italic;
        margin: 0 0 20px 0;
        font-size: 12px;
    }

}