.play-cta-section {
    padding: 80px 0;

    &__inner {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__image {
        display: block;
        width: 100%;
        height: 350px;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
        max-width: 520px;
        z-index: 2;
    }

    &__title {
        font-size: 40px;
        font-weight: 800;
        line-height: 1.2;
        margin: 0 0 24px 0;
        color: $color-sazerac;
        text-shadow:
            -1px -1px 0 $color-black,
            1px -1px 0 $color-black,
            -1px 1px 0 $color-black,
            1px 1px 0 $color-black;
    }

    @include vp-1023 {
        padding: 60px 0;

        &__inner {
            position: static;
        }

        &__image {
            height: auto;
            border-radius: 12px;

            img {
                height: 200px;
                object-fit: cover;
            }
        }

        &__content {
            position: static;
            transform: none;
            margin: 32px 0 0 0;
            text-align: center;
            max-width: 100%;
            left: auto;
        }

        &__title {
            font-size: 28px;
            margin: 0 0 20px 0;
        }
    }

    @include vp-767 {
        padding: 40px 0;

        &__title {
            font-size: 24px;
        }

        &__image {
            border-radius: 8px;
        }
    }

    @include vp-480 {
        &__title {
            font-size: 20px;
        }
    }
}
