.responsible-gaming {
    padding: 90px 0;

    @include vp-1023 {
        padding: 50px;
    }

    @include vp-767 {
        padding: 30px 0;
    }

    &__title {
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        margin: 0 0 24px 0;
        color: $color-white;

        @include vp-767 {
            font-size: 28px;
            margin: 0 0 20px 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        color: $color-rock-blue;
        margin: 0 0 20px 0;
        text-align: justify;
      

        @include vp-767 {
            font-size: 14px;
            line-height: 1.5;
        }
    }

    &__list {
        margin: 20px 0;
        padding-left: 20px;

        @include vp-767 {
            padding-left: 16px;
        }
    }

    &__list-item {
        font-size: 16px;
        line-height: 1.6;
        color: $color-rock-blue;
        margin-bottom: 16px;
        position: relative;

        @include vp-767 {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 14px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        
    }
}