.table-section {
    padding: 90px 0;

    @include vp-1023 {
        padding: 50px 0;
    }

    @include vp-767 {
        padding: 30px 0;
    }


    &__title {
        font-size: 36px;
        font-weight: 800;
        text-align: center;
        margin: 0 0 16px 0;
        color: $color-white;

        @include vp-767 {
            font-size: 28px;
        }
    }

    &__title span {
        color: $color-tomato;
    }

    &__description {
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
        color: $color-rock-blue;
        margin: 0 0 40px 0;
       

        @include vp-767 {
            font-size: 14px;
            margin: 0 0 30px 0;
        }
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 16px 0;
        color: $color-white;

        @include vp-767 {
            font-size: 20px;
            margin: 28px 0 14px 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.6;
        color: $color-rock-blue;
        margin: 0 0 30px 0;
        text-align: justify;

        @include vp-767 {
            font-size: 14px;
            line-height: 1.5;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
